/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --light-gray: #e6e6e6;
    --gray: #b0b0b0;
    --dark-gray: #7c7c7c;
    --green-light: #f4f9ed;
    --green: #B4D986;
    --green-dark: #024e2b;
    --orange-light: #FDE7E1;
    --orange: #F9B25B;
    --orange-dark: #B54929;
    --blue-light: #E6F7FD;
    --blue: #8DDAF4;
    --blue-dark: #067CA3;
}

/* Navbar*/

.main-nav li a {
    text-decoration: none;
    color: var(--green-dark);
}

.main-nav li .active{
    color: var(--orange-dark) !important;
}

.main-nav li a:hover {
    opacity: 0.6;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Slide */

.slide {
    background-color: #f4f9ed;
    max-height: 700px;
}

.img-slide {
    max-height: 700px;
    max-width: 45%;
}

.title-slide {
    color: #04607f;
}

.box-txt{
    padding: 5%;
}

.txt-slide {
    color: #333;
}

.btn-slide{
    background-color: var(--green);
    border-color: var(--green);
}

.btn-slide:hover{
    border-color: var(--green-dark);
}

/* Section Categories */

.category{
    margin: 10% 0;
}

.category h2{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}

.btn-cat{    
    display: flex;
    justify-content: center;
    border-radius: 5%;
    height: 400px;
    text-decoration: none;
    width: 400px;
}

.btn-cat div{
    align-items: center;
    justify-content: center;
}

.cat {  
    color: var(--dark-gray);  
    background-color: var(--blue-light);
}

.cat:hover{
    opacity: 0.5;
}

.cats {   
    color: var(--dark-gray); 
    background-color: var(--orange-light);
}

.cats:hover{
    opacity: 0.5;
}

/* Section Promociones*/

.promo{
    margin: 10% 0;
}

.promo h2{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}
.card-promo{
    border: solid #ccc 1px;
    border-radius: 15px;
    width: 500px;
}

.card-promo:hover{
    background-color: var(--green-light);
    opacity: 0.7;
}

.card-promo img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-promo h3{
    color: var(--orange-dark);
}

.card-promo p{
    color: var(--gray);
}

.btn-card{
    background-color: var(--green);
    border-color: var(--green);
}

.btn-card:hover{
    border-color: var(--green-dark);
}

/* Footer */

footer{
    background-color: var(--green);
    height: 180px;
    margin-top: 40%;
    padding: 5%;
    width: 100%;
}

.pages{
    background-color: aquamarine;
    height: 180px;
    margin-top: 1%;
    padding: 5%;
    width: 100%;
}

.copy{
    text-align: center;
}

.redes{
    list-style-type: none;
}

.redes li a{    
    color: var(--dark-gray);
}

.redes li a:hover{    
    opacity: 0.6;
}


/* Quienes Somos */

.back{
    background-color: var(--green-light);
}

.who{
    padding: 2% 0;
}

.who h1{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}

.txt-who{
    color: var(--dark-gray);
}

/* Servicios */

.back-ser{
    background-color: var(--orange-light);
}

.services{
    padding: 5% 0 20%;
}

.services h1{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}

.box{
    background-color: var(--white);
}

.box:hover{
    opacity: 0.7;
}

/* Producto */

.back-pro{
    background-color: var(--blue-light);
}

.products{
    padding: 5% 0 20%;
}

.products h1{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}

.box-p{
}


/* Contacto */

.back-con{
    background-color: var(--green-light);
}

.contact{
    padding: 5% 0 20%;
}

.contact h1{
    color: var(--blue-dark);
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}
