/* Colores base */
/* Colores Logotipo */
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.main-nav li a {
  text-decoration: none;
  color: #024e2b;
}
.main-nav li a.active {
  color: #B54929 !important;
}
.main-nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Slide */
.slide {
  background-color: #f4f9ed;
  max-height: 700px;
}
.slide .img-slide {
  max-height: 700px;
  max-width: 45%;
}
.slide .title-slide {
  color: #067CA3;
}
.slide .box-txt {
  padding: 5%;
}
.slide .txt-slide {
  color: #7c7c7c;
}
.slide .btn-slide {
  background-color: #B4D986;
  border-color: #B4D986;
  color: #ffffff;
}
.slide .btn-slide:hover {
  background-color: #f4f9ed;
  color: #024e2b;
  border-color: #024e2b;
}

/* Buscador */
.search {
  height: 300px;
  max-height: 350px;
}
.search p {
  color: #ffffff;
}
.search .btn-slide {
  background-color: #B4D986;
  border-color: #B4D986;
  color: #ffffff;
}
.search .btn-slide:hover {
  background-color: #F9B25B;
  color: #ffffff;
  border-color: #f4f9ed;
}

/* Section Categories */
.featured {
  margin: 5% 0;
}
.featured h2 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.featured .btn-feat {
  border-radius: 20px;
  max-width: 600px;
  text-decoration: none;
  width: 400px;
}
.featured .btn-feat:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.featured .btn-buy {
  background-color: #E6F7FD;
  border-color: #067CA3;
  color: #067CA3;
}
.featured .btn-buy:hover {
  background-color: #E6F7FD;
  color: #ffffff;
  border-color: #E6F7FD;
}

/* Section Promociones */
.recomend {
  margin: 10% 0;
}
.recomend h2 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.recomend .card-recomend {
  border: solid #cccccc 1px;
  border-radius: 15px;
  max-width: 600px;
  width: 500px;
}
.recomend .card-recomend:hover {
  opacity: 0.7;
  cursor: pointer;
}
.recomend .card-recomend img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.recomend .card-recomend h3 {
  color: #7c7c7c;
}
.recomend .card-recomend p {
  color: #b0b0b0;
}
.recomend .card-recomend .btn-card {
  background-color: #B4D986;
  border-color: #B4D986;
  color: #ffffff;
}
.recomend .card-recomend .btn-card:hover {
  background-color: #ffffff;
  color: #024e2b;
  border-color: #024e2b;
}

.btn-plus {
  background-color: #b0b0b0;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-plus:hover {
  background-color: #8DDAF4;
  color: #ffffff;
  border-color: #8DDAF4;
}

/* Comments */
.comments h2 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.comments .card-comments {
  margin: 0 0 15%;
  opacity: 0.5;
  padding: 10px 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  width: 400px;
}
.comments .card-comments img {
  max-width: 120px;
  width: 100px;
}
.comments .card-comments h5 {
  color: #B4D986;
}
.comments .card-comments p {
  color: #cccccc;
}
.comments .card-comments:hover {
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #B4D986;
  height: 380px;
  margin-top: 40%;
  padding: 5%;
  width: 100%;
}
footer .logo-footer {
  width: 100px;
}
footer .pages {
  height: 180px;
  margin-top: 1%;
  padding: 5%;
  width: 100%;
}
footer .btn-new {
  background-color: #F9B25B;
  border-color: #F9B25B;
  color: #7c7c7c;
}
footer .btn-new:hover {
  background-color: #B54929;
  color: #ffffff;
  border-color: #B54929;
}
footer .copy {
  text-align: center;
}
footer .redes {
  list-style-type: none;
}
footer .redes li a {
  color: #7c7c7c;
}
footer .redes li a:hover {
  color: #B54929;
  opacity: 0.6;
}

/* Quienes Somos */
.who {
  margin: 2% 0;
}
.who .whois {
  padding: 2% 0 5%;
}
.who .whois h1 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.who .whois .txt-who {
  color: #7c7c7c;
}
.who .whois .btn-action {
  background-color: #024e2b;
  border-color: #024e2b;
  color: #ffffff;
}
.who .whois .btn-action:hover {
  background-color: #B4D986;
  color: #024e2b;
  border-color: #B4D986;
}
.who .whois .backside {
  background-color: #f4f9ed;
  padding: 10%;
}

/* Servicios */
.back-ser {
  margin: 5% 0;
}
.back-ser h1 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.back-ser .txt-services {
  color: #7c7c7c;
  margin: 0 auto 5%;
}

/* Producto */
.back-pro {
  margin: 5% 0;
}
.back-pro h1 {
  color: #067CA3;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: underline 0.5px;
  text-underline-offset: 5px;
}
.back-pro .txt-products {
  color: #7c7c7c;
  margin: 0 auto 5%;
}

/* Contacto */
.back-con {
  background-color: #f4f9ed;
}

.contact {
  padding: 5% 0 20%;
  background-color: #f4f9ed;
}

/*# sourceMappingURL=style.css.map */
