

/* Colores base */

$white: #ffffff;
$black: #000000;
$gray: #b0b0b0;
$gray-soft: #cccccc;
$dark-gray: #7c7c7c;
$green-light: #f4f9ed;
$green-soft: #B4D986;
$green-dark: #024e2b;
$orange-light: #FDE7E1;
$orange-soft: #F9B25B;
$orange-dark: #B54929;
$blue-light: #E6F7FD;
$blue-soft: #8DDAF4;
$blue-dark: #067CA3;

/* Colores Logotipo */

$green-first: #036E3C;
$green-second: #8FC74A;
$orange-first:#F16136;
$orange-second: #F89F32;
$skyblue: #08AFE6;
$primary-color: #004d40; 
$light-color: #e0f2f1; 



